
<%= simple_form_for @station, :html => { :class => 'form-horizontal' } do |f| %>
<%= f.input :project_id, as: :hidden , :input_html => {:value=>params[:id]} %>
<%#= f.input "standard_station_id", :input_html=>{:value => params[:standard_station_id]} %>
<table>

	<thead>
	<tr>
		<th>Name Station</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><%= f.input :name , :label => false %></td>
  		<td><%#= f.association :project,
                    collection: Project.all ,
                    include_blank: true,
                    input_html: { class: 'chosen-select' } , :label => false %></td>
	</tr>
	</tbody>
</table>
<br>
	<%= f.button :submit ,"Create", :class => 'btn btn-primary' %>
	<%= link_to t('.cancal' ,  :default => t("helpers.link.cancel")), stations_path, :class=>'btn' %>
<% end %>