<%- model_class = Station -%>
<table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:product_id) %></th>
            <th><%#= model_class.human_attribute_name(:estimation_id) %></th>
            <th><%#= model_class.human_attribute_name(:created_at) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @search_index_station.each do |station| %>
            <tr>
              <td><%= link_to station.id, station_path(station) %></td>
              <td><%= station.name %></td>
              <td><%= station.product.name rescue'-' %></td>
              <td><%#= station.estimation_id %></td>
              <td><%#=l station.created_at %></td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_station_path(station), :class => 'btn btn-mini' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            station_path(station),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>