<% @projects.each do |project| %>

<div class="accordion span10" id="accordion2">
  <% if roles.include?(InventoryManagementSystem::STATION_ADD) %>
    <%= link_to "Add Station" ,new_station_path(:id => project.id) , :class=>"btn btn-primary" %>
  <% else %>
    <button>Add Station</button>
  <% end %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= project.id %>">
        <%#= project.id %><%= project.name %> - <%= project.client.name %>
      </div>
    </div>

    <div id="collapse<%= project.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render "index_station", :project_stations => project %>
      </div>
    </div>
  </div>
  
</div>
<% end %>


