<div class="accordion" id="accordion2">
  <% @projects.each do |project| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= project.id %>">
        <%= project.name %> - <%= project.client.name %>
      </div>
    </div>

    <div id="collapse<%= project.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render "index_station", :project_stations => project %>
      </div>
    </div>
  </div>
  <% end %>
  </div>