<%- model_class = Station -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <div><%#%></div>

</div>


<div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Index</a></li>
        <li><a href="#tab2" data-toggle="tab">Search</a></li>
      </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render "index_station" %>
    </div>
    <div class="tab-pane" id="tab2">
      <p><%= render "index_search" %></p>
    </div>
   </div>
</div>




<%= link_to t('.new', :default => t("helpers.links.new")),
            new_station_path,
            :class => 'btn btn-primary' %>
            <div style="float : right;"><%= link_home_button %></div>
