<%= simple_form_for(@product_list) do |f| %>
  <%= f.error_notification %>

<table>
  <div class="inputs">
    <%= f.input :estimation_no %>
    <%= f.input :description %>
    <%= f.input :qty %>
    <%= f.input :batch_no %>
    <%= f.input :issue_by %>
    <%= f.input :issue_date %>
    <%= f.input :remark %>
    <%= f.input :client_id %>
  </div>
</table>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
