<%= simple_form_for(@product_list) do |f| %>
  <%= f.error_notification %>

<table>
  <div class="inputs">
    <tr>
      <td><%= f.input :estimation_no %></td>
      <td><%= f.input :description %></td>
    </tr>
    <tr align="margin-left">
      <td><%= f.input :qty %></td>
      <td><%= f.input :batch_no %></td>
    </tr>
    <tr>
      <td><%= f.input :issue_by %></td>
      <td><%= f.input :issue_date %></td>
    </tr>
    <tr align="margin-left">
      <td><%= f.input :remark %></td>
      <td><%= f.select :client_id , Client.all.map {|r| [r.name, r.id] } , :include=> "_blank" %></td>
    </tr>
  </div>
</table>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
