<h3><u>Listing Product lists</u></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Estimation no</th>
      <th>Description</th>
      <th>Qty</th>
      <th>Batch no</th>
      <th>Issue by</th>
      <th>Issue date</th>
      <th>Remark</th>
      <th>Client</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_lists.each do |product_list| %>
      <tr>
        <td><%= product_list.estimation_no %></td>
        <td><%= product_list.description %></td>
        <td><%= product_list.qty %></td>
        <td><%= product_list.batch_no %></td>
        <td><%= product_list.issue_by %></td>
        <td><%= product_list.issue_date %></td>
        <td><%= product_list.remark %></td>
        <td><%= product_list.client_id %></td>
        <td><%= link_to 'Edit', edit_product_list_path(product_list) %></td>
        <td><%= link_to 'Destroy', product_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product list', new_product_list_path , :class=>"btn" %>
