<p id="notice"><%= notice %></p>

<p>
  <strong>Thk:</strong>
  <%= @fomulation.thk %>
</p>

<p>
  <strong>Dimension w:</strong>
  <%= @fomulation.dimension_w %>
</p>

<p>
  <strong>Dimension l:</strong>
  <%= @fomulation.dimension_l %>
</p>

<p>
  <strong>Wt ibs ft:</strong>
  <%= @fomulation.wt_ibs_ft %>
</p>

<%= link_to 'Edit', edit_fomulation_path(@fomulation) %> |
<%= link_to 'Back', fomulations_path %>
