<h3><u>History Estimation file Delete</u></h3>
<div><%= link_home_button %>
<div style="float: right;"><%= will_paginate @estimations, :class => "pagination" %></div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>No</th>
      <th>Title</th>
      <th>Dimension</th>
      <th>Delete Date</th>
      <th>Deleted By</th>
    </tr>
  </thead>

  <tbody>
    <% @history_file_deletes.each_with_index do |history , index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= history.title rescue'-' %></td>
        <td><%= history.dimension rescue'-'%></td>
        <td><%= history.created_at.strftime("%d-%m-%Y") rescue'-'%></td>
        <td><%= history.user.username rescue'-'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New History file delete', new_history_file_delete_path %>
