<div class="page-header">
<h1>Edit User</h1>
</div>

<%= form_for(@user, url: update_user_user_path(@user), method: :patch) do |f| %>
  <%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.label :username %>
  <%= f.label @user.username %><br>
  <%= f.label :email %>
  <%= f.email_field :email %><br>   
  <%= f.label :status, "Is Active?" %>
  <% if f.admin == 1 %>
  <%= f.check_box(:status, {:disabled => true}) %>
  <% else %>
  <%= f.check_box(:status) %>
  <% end %>
  <%#= f.label :admin, "Is Admin?" %>
  <%#= f.check_box(:admin) %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
<% end %>

