<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="users" data-source="<%= users_url(format: "json") %>">
  <thead>
    <tr>
      <th>Status</th>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>       
      <th>Actions</th>       
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    
      <tr>
        <td><% if user.status? %>
            <i class='icon-ok'> Active</i>
            <% else %>
            <i class='icon-remove'> Inactive</i> 
            <% end %></td>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= user.username %></td>
        <td><%= user.email%></td>
        <%#= link_to 'Select', user , :class=>"btn btn-info"%>
        <%#= link_to 'Edit', edit_user_user_path(user) %>     
        <%#= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-danger"%>           
        <td>
          <%= link_to 'Edit User', edit_user_user_path(user), :class=>"btn" %> 
          <%#= link_to 'Role', entry_user_user_path(user, @role), :class=>"btn btn-primary" %> 
          <% if user.roles.present? %>
            <%= link_to 'Role', edit_role_path(user), :class =>"btn btn-primary" %>
          <% else %>
            <%= link_to 'Role', new_role_path(:user_id => user), :class =>"btn btn-primary" %>
          <% end %>     
          
        </td>
                 
      </tr>
    <% end %>
  </tbody>
    </table>
    <br>
    <br>

  
<div style="float: right; "><%#= link_home_button %></div> 
<div><%= link_to "Add User", new_user_users_path, :class=>"btn btn-primary" %></div>

<br>

    

  