

<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'TEST', new_user_entry_users_path %> |
<%= link_to 'Edit', edit_user_user_path(@user) %> |
<%= link_to 'Back', users_path %>
