
<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>


<dl class="dl-horizontal">
  <dt><strong>Username:</strong></dt>
  <dd><%= @user.username %></dd>
  <dt><strong>Email:</strong></dt>
  <dd><%= @user.email %></dd>
</dl>
<div class="form-actions">
<%= link_to 'Back', users_path, :class=>"btn" %>
<%= link_to 'Edit', edit_user_user_path(@user), :class=>"btn" %> 
<%= link_to 'Role', new_user_entry_users_path, :class=>"btn btn-primary" %> 
</div>




  