
<%= title_head("SHOW USER") %>

<div id="user_strip">
  <ul>
      <li class="k-state-active">Management Product List</li>
      <li></li>
      
  </ul>

  <div><%= render "management_product_list" %></div>
  <div></div>
  <span style="position: absolute; padding: 5px;">*IMS = Inventory Management System</span>
</div>

<div class="icon_tag">
  <%= link_close_button %>
</div>



<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%#= link_to 'Edit', edit_user_user_path(@user) %> |
<%#= link_to 'Back', users_path %> -->
