<%= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f| %>

<table class="table table-bordered">
	<tr>
		<td>
		  <%= f.input :name %>

		  <%= f.input :email %>

		  <%= f.input :address %>
		</td>
		<td>
			<%= f.input :contact_person_one %>

		  	<%= f.input :contact_person_two %>

		  	<%= f.input :contact_person_three %>
		</td>
	</tr>
</table>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clients_path, :class => 'btn' %>
  </div>
<% end %>
