  <%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<div style="float: left;">
<%= search_form_for @search do |f| %> 
  <%#= f.text_field :name_cont, :class => "input-medium search-query", :placeholder => "Name" %>
  <%= f.text_field :name_cont, "data-autocomplete" => autocomplete_client_name_clients_path, :class => "input-medium search-query", :placeholder => "Client Name" %>
  <%= f.submit "Search", :class => "btn"%>
<% end %>
</div>

<div style="float: right;"><%= will_paginate @clients, :class => "pagination" %></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%#= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.id, client_path(client) %></td>
        <td><%= client.name %></td>
        <td><%#=l client.created_at %></td>
        <td>
          <% if roles.include?(InventoryManagementSystem::CLIENT_EDIT) %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_client_path(client), :class => 'btn btn-mini' %>
          <% else %>
          <button type="button" class="btn btn-mini">Edit</button>            
          <% end %>
          <% if roles.include?(InventoryManagementSystem::CLIENT_DELETE) %>            
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      client_path(client),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <% else %>
          <button type="button" class="btn btn-mini">Delete</button>           
          <% end %>            
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if roles.include?(InventoryManagementSystem::CLIENT_ADD) %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_client_path,
            :class => 'btn btn-primary' %>
<% else %>
<button type="button" class="btn">New</button>
<% end %>
<div style="float: right; "><%= link_home_button %></div> 
