<h2><u>Home</u></h2>
<hr />

<%= link_to "New Project" , new_project_path , :class=>"btn" %>

<%#= link_to "Create with Existing Project" , show_standard_project_products_path , :class => "btn" %> 
<br>
<br>

<%= link_to "List Projects" , projects_path , :class=>"btn" %>
&nbsp;
<%= link_to "List Stations" , stations_path , :class=>"btn" %>
&nbsp;
<% if roles.include?(InventoryManagementSystem::ESTIMATION) %>
<%= link_to "List Estimations" , estimations_path , :class=>"btn" %>
<% end %>

<br>
<br>
<%= link_to "Price Control" , price_controls_path , :class=>"btn" %>

<hr />
<% if roles.include?(InventoryManagementSystem::MATERIAL) %>
<%= link_to "Material" , materials_path , :class=>"btn" %><br><br>
<% end %>
<% if roles.include?(InventoryManagementSystem::CLIENT) %>
<%= link_to "Client" , clients_path , :class=>"btn" %><br>
<% end %>

<br>
<hr />

<div>
  <% if current_user.admin? %>
    <%= link_to 'Listing User', users_path, :class=>"btn" %><br />
  <% else %>
    &nbsp;
  <% end %>
</div>



