<h2><u>Home</u></h2>
<hr />

<%= link_to "New Project" , new_project_path , :class=>"btn" %>
<!-- <a href="#myModal" role="button" class="btn" data-toggle="modal">New Project</a>
 --> 
<!-- Modal -->
<!-- <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Select New Project Type</h3>
  </div>
  <div class="modal-body">
    <p class="pull-center">
    <%#= link_to "Customize" , new_customize_project_projects_path , :class=>"btn btn-primary" %>
    </p>
    <p><%#= link_to "Tender" , new_project_path , :class=>"btn" %></p>
    <p><%#= link_to "Project", new_project_path ,:class=>"btn btn-primary" %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!-- <button class="btn btn-primary">Save changes</button> -->
  <!-- </div> -->
<!-- </div> -->


<%#= link_to "Create with Existing Project" , show_standard_project_products_path , :class => "btn" %> 
&nbsp;
<%= link_to "Non-Standard Projects List" , list_non_standard_project_projects_path , :class=>"btn" %>
&nbsp;
<%= link_to "Standard Project List" , list_project_estimation_projects_path , :class=>"btn" %>
<%#= link_to "Standard Project List",list_standard_project_projects_path,:class=>"btn" %>

<hr />

<%= link_to "Project List" , projects_path, :class=>"btn" %>
&nbsp;
<%= link_to "Stations List" , stations_path , :class=>"btn" %>
&nbsp;
<%# if roles.include?(InventoryManagementSystem::ESTIMATION) %>
<%= link_to "Estimations List" , estimations_path , :class=>"btn" %>
<%# end %>



<br>
<br>


<hr />
<%# if roles.include?(InventoryManagementSystem::MATERIAL) %>
<%= link_to "Material" , materials_path , :class=>"btn" %>
<%# end %>
&nbsp;
<%# if roles.include?(InventoryManagementSystem::CLIENT) %>
<%= link_to "Client" , clients_path , :class=>"btn" %>
<%# end %>
&nbsp;
<%= link_to "Price Control Item" , price_control_items_path , :class=>"btn" %>



<br>
<hr />

<div>
  <% if current_user.admin? %>
    <%= link_to 'User List', users_path, :class=>"btn" %><br />
  <% else %>
    &nbsp;
  <% end %>
</div>



