<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fitting_material.name %>
</p>

<p>
  <strong>Thk dia:</strong>
  <%= @fitting_material.thk_dia %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @fitting_material.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @fitting_material.modal %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fitting_material.type_1 %>
</p>

<p>
  <strong>Pump capacity:</strong>
  <%= @fitting_material.pump_capacity %>
</p>

<p>
  <strong>Head:</strong>
  <%= @fitting_material.head %>
</p>

<p>
  <strong>Material type:</strong>
  <%= @fitting_material.material_type %>
</p>

<p>
  <strong>Pump speed:</strong>
  <%= @fitting_material.pump_speed %>
</p>

<p>
  <strong>Fan speed:</strong>
  <%= @fitting_material.fan_speed %>
</p>

<p>
  <strong>Motor power:</strong>
  <%= @fitting_material.motor_power %>
</p>

<p>
  <strong>Motor pole:</strong>
  <%= @fitting_material.motor_pole %>
</p>

<p>
  <strong>Air flow:</strong>
  <%= @fitting_material.air_flow %>
</p>

<p>
  <strong>Static pressure:</strong>
  <%= @fitting_material.static_pressure %>
</p>

<p>
  <strong>Other:</strong>
  <%= @fitting_material.other %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @fitting_material.remark %>
</p>

<%= link_to 'Edit', edit_fitting_material_path(@fitting_material) %> |
<%= link_to 'Back', fitting_materials_path %>
