<%= form_tag standard_station_estimation_stations_path , :method => "get" do %>

<div style="display:none;"><%= text_field_tag "project_id",params[:id] %></div>
 <%#= render :text => params[:id] %>
<table class="table">
	<thead>
	<tr>
		<th><%#= check_box_tag 'checkall', :id =>"checkall" %></th>
		<th><%= submit_tag "Submit Station" , :class=>"btn" %></th>
		<th>No</th>
		<th>Name</th>
		<th></th>
	</tr>
	</thead>
	
	<tbody>
		<% list_standard_stations.stations.each_with_index do |station , index| %>
		<tr>
			<td></td>
			<td><%= check_box_tag "checkall",:id =>"checkall" %></td>
			<td><%= index + 1 %></td>
			<td><%= station.name %></td>
			<td></td>
		</tr>

		<tr>
			<td></td>
			<td></td>
			<td colspan="4">
			<table class="table table-bordered">
					<tr>
						<th>Estimation List</th>
						<th>ID</th>
						<th>Title</th>
						<th>Dimension</th>
					</tr>
					<% station.estimations.each do |estimation| %>
					
					<tr>
						<td><%= check_box_tag "estimation_id[#{station.id}][#{estimation.id}]" , estimation.id ,false, :id=>"check_box" %></td>
						<td><%= estimation.id %></td>
						<td><%= estimation.title %></td>
						<td><%= estimation.dimension %></td>
					<tr>
				<% end %>
			</table>
			</td>
		</tr>
	</tbody>
	<% end %> <!-- form tag each do -->
</table>
<% end %> <!-- simple form end -->


<script type="text/javascript">

$(document).ready(function (){

	$('#checkall:checkbox').change(function () {
		console.log("Working here??");
        if($(this).attr("checked")) $('input:checkbox').attr('checked','checked');
        else $('input:checkbox').removeAttr('checked');
   	});


});	


</script>