<%= simple_form_for @station do |f| %>
<%= f.input "project_id",:label => false, as: :string, :input_html => { :value => params[:id]} %>
<table class="table">
	<thead>
	<tr>
		<th><%#= check_box_tag 'checkall', :id =>"checkall" %></th>
		<th><%= submit_tag "Submit Station" , :class=>"btn" %></th>
		<th>No</th>
		<th>Name</th>
		<th></th>
	</tr>
	</thead>
	
	<tbody>
		<% list_standard_stations.stations.each_with_index do |station , index| %>
		<tr>
			<td></td>

			<%#= check_box_tag "estimation_material", {},false,{:id=>"estimation_item_checkbox", :es_ma => material.id}  %>

			<td><%= check_box_tag "station_name[]", "#{station.name}" , false , {:id=>"standard_station_id", :sta_name => station.id} %>

			</td>
			<td><%= index + 1 %></td>
			<td id="<%="standard_station_name_#{station.id}"%>"><%= station.name %></td>
			<td><%#= f.input :name , :value => station.name , :label => false  %>
				<%#= hidden_field_tag "name" , nil, :id => "standard_name_field" %>
			</td>
		</tr>
	</tbody>
	<% end %> <!-- form tag each do -->
	
</table>
	<%#= submit_tag "Submit Station" , :class=>"button" %>

<% end %> <!-- simple form end -->




