<% if @list_standard_projects.present? %>


<div><u><h3>Listing Standard Project</h3></u></div>
<hr>

<div style="float: right;"><%= will_paginate @list_standard_projects, :class => "pagination" %></div>
<div align="right"><%= link_home_button %></div>
<%#= render :text => @list_standard_projects.to_json %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>No</th>
      <th>Project Name</th>
      <th>Project Code</th>
      <th>Project Client</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>

  <% @list_standard_projects.each_with_index do |standard ,  index| %>
  <tbody>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= standard.name %></td>
      <td><%= standard.project_code %></td>
      <td><%= standard.client.name %></td>
      <td><%= standard.date.strftime("%d-%m-%Y") %></td>
      <td><%= link_to "Detail", list_standard_station_stations_path(:standard_station_id => standard) ,  :class=>'btn btn-mini btn-success' %>
        <%= link_to 'Destroy', standard , method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-mini btn-danger'%></td>
    </tr>
  </tbody>
  <% end %>
</table>


<% else %>
no standard record found
<% end %>