<div>
<%= link_to 'Back', price_control_items_path , :class=>"btn" %>

<div class="pull-right"><%= link_home_button %></div>
</div>
<hr>
<div style="float: right;">
<%= search_form_for @edit_price_search, :url => edit_price_price_control_items_path do |f| %> 
  <%= f.text_field :material_name_cont, :class => "input-medium search-query", :placeholder => "Raw Material Name" %>
  <%= f.submit "Search", :class => "btn"%>
<% end %>

<%= search_form_for @edit_price_search, :url => edit_price_price_control_items_path do |f| %> 
  <%= f.text_field :fitting_material_name_cont, :class => "input-medium search-query", :placeholder => "Fitting Material Name" %>
  <%= f.submit "Search", :class => "btn"%>
<% end %>
</div>
