<%# if action_name == 'Add Item Price' %>
  <%= simple_form_for(@fitting_material_price_control_item) do |f| %>
  <% if @fitting_material_price_control_item.errors.any? %>
      <div class="alert alerart-error fade in">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <ul>
        <% @fitting_material_price_control_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      </div>
  <% end %>
    <div class="inputs">
      
      <table style="width:100%;" class="table table-bordered">
        <tr>
            <td>
            <%= f.association :fitting_material, label: "Material Code" , collection: FittingMaterial.all.map {|r| [r.fitting_material_code, r.id]}, :include_blank => true, input_html: {class: 'chosen-select' } %>
            </td>
            <td>
              <%= f.input :new_unit_price , as: :string %>
            </td>
            <td>
                <div class="dp2 date">
                  <%= f.input :new_eff_date , as: :string %><span class="add-on"></span>
                </div>
                </td>       
            </tr>
           
    </table>
    </div>

    <div class="actions">
      <% if roles.include?(InventoryManagementSystem::PRICE_CONTROL_ITEM_ADD) %>
        <%= f.button :submit ,'Create Fitting Material', :class => "btn" %>
      <% end %>
    </div>
  <% end %>

