<%= simple_form_for(@price_control_item) do |f| %>
  <%= f.error_notification %>
  <%#= f.notice %>
  <%#= render :text => params[:price_control_id] %>
  <%= f.input "price_control_id", as: :hidden ,:input_html => {:value => params[:price_control_id]} %>


  <div class="inputs">
    <%= render "listing_price_control" %>
    <table style="width:100%;" class="table table-bordered">
      <tr>
          <td>
          
          
          <%= f.association :material, label: "Material Code (Name/H/W/WT)" , collection: Material.all.map {|r| [r.material_code , r.id]} , :include_blank => true,input_html: {class: 'chosen-select' } %>
       
          </td>

          <td>
            <%= f.input :new_unit_price , as: :string %>
          </td>
          <td>
            <div id="datetimepicker5" class="input-append">
          <%= f.input :new_eff_date , "data-format"=>"dd/MM/yyyy",as: :string  %>
           <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i></span></div>
          </td>         
      </tr>
      <tr>
        <td>
          <% if action_name == "edit" %>
          <% @price_control_item.each do |p| %>
            <%#= p.new_unit_pric %>
            <% end %>
          <% else %>
            <%= f.input :old_unit_price, as: :string ,:disabled => true %>
          <% end %>
        </td>
        <td>
          <% if action_name == "edit" %>
              <div id="datetimepicker4" class="input-append">
              <%= f.input :old_eff_date , as: :string , "data-format"=>"dd-MM-yyyy"%>
              <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span></div>
          <% else %>
              <%= f.input :old_eff_date , as: :string, :disabled => true %>
          <% end %>
         </td>
        <td></td>
      </tr>
  </table>
  </div>

  <div class="actions">
    <%= f.button :submit , :class => "btn" %>
    <%#= link_to "Back", price_control_path , :class=>"btn" %>
  </div>
<% end %>
<!-- 
<%# if action_name == 'edit' %>
            <%#= f.text_field :new_eff_date, :value => @price_control_item.new_eff_date.strftime("%d-%m-%Y"), :id => "kendo_date" %>
          <%# else %>
            <%#= f.text_field :new_eff_date, :value => Date.today.strftime("%d-%m-%Y"), :id => "kendo_date" %>
          <%# end %> -->
