
<h3>Add Raw Material Group Price</h3>
<div style="float: right; "><%= link_home_button %></div>
<br>
<hr>
<div style="float: left;">
<%= search_form_for @raw_material_search, :url => add_raw_group_price_price_control_items_path do |f| %> 
  <%= f.text_field :material_material_code_cont, :class => "input-medium search-query", :placeholder => "Fitting Material Name" %>

  <%= f.submit "Search", :class => "btn"%>
<% end %>
</div>
<div style="float: right;"><%= will_paginate @raw_material_list, :class => "pagination" %></div>

<%= form_tag create_raw_fitting_price_control_items_path do %>
<table class="table table-bordered">
	<tr>
		<th>No.</th>
		<th></th>
		<th>Name</th>
		<th>Material Code(Thk/H/W/Wt)</th>
		<th>Thk/Dia</th>
		<th>Dimension W</th>
		<th>Plate</th>
		<th>Dimension H</th>
		<th>Price</th>
	</tr>
	<% @raw_material_list.each_with_index do |raw , index| %>
	<% a = raw.price_control_items.last %>
	<tr>
		<td><%= index + 1 %></td>
		<td>
			<%# if a.new_unit_price.blank? %>
				<%= check_box_tag "raw_ids[]" %>
			<%# end %>
		</td>
		<td><%= raw.name %></td>
    <td><%= raw.material_code %></td>
    <td><%= raw.thk_dia rescue'-' %></td>
    <td><%= raw.dimension_w rescue'-' %></td>
    <td><%= raw.plate rescue'-'%></td>
    <td><%= raw.dimension_h rescue'-' %></td>
    <td><%= a.new_unit_price rescue'-'%></td>
	</tr>
	<% end %>
</table>

<% end %>