<%= render "action_price_control_item" %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Raw Material(Name - thk/H/W/WT)</th>
      <th>Fitting Material(Name - Material code)</th>
      <th>New Unit Price</th>
      <th>New Eff Date</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @price_control_item.each do |price_control_item| %>
      <tr>
        <td><%= price_control_item.material.custom_name rescue'-' %></td>
        <td><%= price_control_item.fitting_material.fitting_material_code rescue'-' %></td>
        <td><%= price_control_item.new_unit_price %></td>
        <td><%= price_control_item.new_eff_date.strftime("%d-%m-%Y") rescue'-' %></td>
        <!-- <td><%#= price_control_item.price_control_id %></td> -->
        <td><%#= link_to 'Show', price_control_item , :class=>"btn" %>
        <%#= link_to 'Edit', edit_price_control_item_path(price_control_item), :class=>"btn btn-mini btn-info" %>
        <%= link_to 'Destroy', (price_control_item), method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-mini btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>