<%= render :text => params.to_json %>
<%#= render :text => params[:estimation].to_json %>

<!-- Station : <%#= @station.name %> -->
<%= simple_form_for(@estimation) do |f| %>
  <%= f.error_notification %>
  <%= f.input "station_id" , as: :hidden ,:input_html=>{:value => params[:station_id]}, :label => false %>

  <% if action_name == "Edit Estimation" %>
    <%= f.input_field "station_id", :type => "hidden", :input_html => { :value => params[:station_id]} %>
  <% end %>
  
  <div class="inputs">
  <table class="table table-striped">
    <th>
      <td>
          <%= f.input :title %>
      </td>
      <td>
          <%= f.input :dimension %>
          <%#= f.input :drawing_no_id %>
      </td>
      <td>
            <div class="dp2 date">
            <%= f.input :date , as: :string %><span class="add-on"></span>
            </div>
      </td>
    </th>
  </table>
</div>

<table>
  <tr>
    <td><%= f.input :welding , as: :string%></td>
    <td><%= f.input :oxygen_acetylene , as: :string %></td>
    <td><%= f.input :painting , as: :string %></td>
    <td><%= f.input :sand_blasting , as: :string %></td>
    <td><%= f.input :transport , as: :string %></td>
  </tr>
  <tr>
    <td><%= f.input :crane , as: :string %></td>
    <td><%= f.input :shipment , as: :string %></td>
    <td><%= f.input :labour , as: :string %></td>
    <td><%= f.input :installation , as: :string %></td>
    <td><%= f.input :dismantle , as: :string %></td>
  </tr>
  <tr>
    <td><%= f.input :machining , as: :string %></td>
    <td><%= f.input :insulation , as: :string %></td>
    <td><%= f.input :civil_work , as: :string %></td>
    <td><%= f.input :electrik , as: :string %></td>
    <td><%= f.input :piling_work , as: :string %></td>
  </tr>
  <tr>
    <td><%= f.input :forming , as: :string %></td>
    <td><%= f.input :misc , as: :string %></td>
    <td><%= f.input :jkkp , as: :string %></td>
  </tr>
</table>

  <div class="actions">
    <%= f.button :submit , :class=>"btn btn-primary" %> 
    <%= link_to 'Back', estimations_path , :class=>"btn" %>
  </div>
<% end %>


<script type="text/javascript">
  $(function() {
    $('[data-behaviour~=datepicker]').datepicker();
    $('#datetimepicker4').datetimepicker({
      pickTime: false
    });
  });

  $("input:checkbox").change(function(){
 
    // total allowed to be checked.
    var max_allowed = 1;
    // count how many checked.
    var checked = $("input:checked").size();
    // perform test.
    if ( checked > max_allowed ) {
        // is more than the max so uncheck.
        $(this).attr("checked", false);
        //$(this).
        // display error message.
        //alert("Please select a maximum of " + max_allowed + " options.");
 
    }
 
  });
</script>

