

<%#= render :text => params[:estimation].to_json %>

Station : <%= @station.name %>
<%= simple_form_for(@estimation) do |f| %>
  <%= f.error_notification %>
  <%= f.input "station_id" , :as => :hidden , :input_html=>{:value => params[:estimation]}, :label => false %>
  <%#= f.input_field "estimation_id", :type => "hidden", :input_html => { :value => params[:estimation_id]} %>
  <div class="inputs">
  <table class="table table-striped">
    <th>
      <td>
          <%#= f.label :client %><%#= f.select :client_id , Client.all.map {|r| [r.name ,r.id]} , :include_blank=>true %>
          <%= f.input :title %>
        
      </td>
      <td>
          <%= f.input :dimension %>
          <%#= f.input :drawing_no_id %>
      </td>
      <td>
          <div id="datetimepicker4" class="input-append">
          <%= f.input :date , "data-format"=>"yyyy-MM-dd"%>
           <span class="add-on">
            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
            </i>
          </span>
          </div> 
          <%#= f.input :issued_by %>
      </td>
    </th>
  </table>
</div>

  <div class="actions">
    <%= f.button :submit , :class=>"btn btn-primary" %> 
    <%= link_to 'Back', estimations_path , :class=>"btn" %>
  </div>
<% end %>


<script type="text/javascript">
  $(function() {
    $('[data-behaviour~=datepicker]').datepicker();
    $('#datetimepicker4').datetimepicker({
      pickTime: false
    });
  });

  $("input:checkbox").change(function(){
 
    // total allowed to be checked.
    var max_allowed = 1;
    // count how many checked.
    var checked = $("input:checked").size();
    // perform test.
    if ( checked > max_allowed ) {
        // is more than the max so uncheck.
        $(this).attr("checked", false);
        //$(this).
        // display error message.
        //alert("Please select a maximum of " + max_allowed + " options.");
 
    }
 
  });
</script>


