<%#= render :text => params.to_json %>
<%#= render :text => params[:estimation].to_json %>

<!-- Station : <%#= @station.name %> -->
<%= simple_form_for(@estimation) do |f| %>
  <%= f.error_notification %>
  <%= f.input :user_id ,:input_html => {:value => "#{current_user.id}" } %>
  <%# if params[:station_id].present? && params[:standard_station_id].present? %>
    <%#= f.input "standard_station_id", as: :hidden,:input_html=>{:value => params[:standard_station_id]} %>
    <%#= f.input "station_id" as: :hidden, :input_html=>{:value => params[:station_id]} %>
  <% if params[:standard_station_id].present? %>
    <%= f.input :station_id , "station id", as: :hidden, :input_html=>{:value => params[:station_id]} %>  
  <% else %>
    <%= f.input :station_id , as: :hidden,:input_html=> {:value => params[:station_id]} %>
  <% end %>
  
  <% if params[:project_id].present? %>
    <%= f.input :project_id  ,as: :hidden, :input_html => {:value => params[:project_id]} %>
    <%= f.input :standard_project_id , as: :hidden, :input_html => { :value => params[:standard_project_id]} %>
  <% end %>

    <div>Check if Complete :<%= f.check_box(:status) %></div> 
  <div class="inputs">
  <table class="table table-striped">
    <th>
      <td>
          <%= f.input :title ,  :input_html => {:style => 'width: 200px'} %>
      </td>
      <td>
          <%= f.input :dimension %>
      </td>
      <td>
          <%= f.input :drawing_no_id , as: :string , input_html: { maxlength: 20 } %>
      </td>
      <td>
            <div class="dp2 date">
            <%= f.input :date , as: :string %><span class="add-on"></span>
            </div>
      </td>
    </th>
  </table>
</div>
<%#= render "input_expenses" %>

<table>
  <tr>
    <td><%= f.input :welding , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :oxygen_acetylene , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :painting , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :sand_blasting , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :transport , as: :string ,input_html: { maxlength: 20 }%></td>
  </tr>
  <tr>
    <td><%= f.input :crane , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :shipment , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :labour , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :installation , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :dismantle , as: :string ,input_html: { maxlength: 20 }%></td>
  </tr>
  <tr>
    <td><%= f.input :machining , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :insulation , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :civil_work , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :electrik , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :piling_work , as: :string ,input_html: { maxlength: 20 }%></td>
  </tr>
  <tr>
    <td><%= f.input :forming , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :misc , as: :string ,input_html: { maxlength: 20 }%></td>
    <td><%= f.input :jkkp , as: :string ,input_html: { maxlength: 20 }%></td>
  </tr>
</table>



  <div class="actions">
    <%= f.button :submit , :class=>"btn btn-primarys" %> 
    <%= link_to 'Back', :back , :class=>"btn" %>
  </div>
<% end %>


<script type="text/javascript">
  $(function() {
    $('[data-behaviour~=datepicker]').datepicker();
    $('#datetimepicker4').datetimepicker({
      pickTime: false
    });
  });

  $("input:checkbox").change(function(){
 
    // total allowed to be checked.
    var max_allowed = 1;
    // count how many checked.
    var checked = $("input:checked").size();
    // perform test.
    if ( checked > max_allowed ) {
        // is more than the max so uncheck.
        $(this).attr("checked", false);
        //$(this).
        // display error message.
        //alert("Please select a maximum of " + max_allowed + " options.");
 
    }
 
  });
</script>

