<h1>Listing estimations</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Client</th>
      <th>Title</th>
      <th>Dimension</th>
      <th>Drawing no id</th>
      <th>Date</th>
      <th>Issued by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @estimations.each_with_index do |estimation , index| %>
      <tr>
        <td><%= estimation.client.name rescue'-' %></td>
        <td><%= estimation.title %></td>
        <td><%= estimation.dimension %></td>
        <td><%= estimation.drawing_no_id %></td>
        <td><%= estimation.date %></td>
        <td><%= estimation.issued_by %></td>
        <td><%#= link_to 'Show', estimation %></td>
        <td><%= link_to 'add item' , estimation_items_path(estimation) %>
          <%= link_to 'Edit', edit_estimation_path(estimation),:class => 'btn btn-mini' %>
          <%= link_to 'Destroy', estimation, method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estimation', new_estimation_path %>
