<div class="page-header">
  <h3><u>Show Standard Project - Estimation List</u></h3>
  <div><%= link_to "Back" , :back , :class=>"btn btn-default" %>
    <div style="float:right;"><%= link_home_button  %></div>
  </div>
</div>

<table class="table table-bordered span7">
  <tr>
      <td>Name :</td>
      <td><%= @project_estimation_list.name rescue'-' %></td>
      <td>Project Code :</td>
      <td><%= @project_estimation_list.project_code rescue'-' %></td>
  </tr>
  <tr>
      <td>Client Name:</td>
      <td><%= @project_estimation_list.client.name rescue'-' %></td>
      <td></td>
      <td></td>
  </tr>
</table>
<%= render "index_project_estimation_list" %>

