<p id="notice"><%= notice %></p>

<p>
  <strong>Part detail:</strong>
  <%= @estimation.part_detail %>
</p>

<p>
  <strong>Material:</strong>
  <%= @estimation.material %>
</p>

<p>
  <strong>Thk dia:</strong>
  <%= @estimation.thk_dia %>
</p>

<p>
  <strong>Dimension h:</strong>
  <%= @estimation.dimension_h %>
</p>

<p>
  <strong>Dimension w:</strong>
  <%= @estimation.dimension_w %>
</p>

<p>
  <strong>Dimension l:</strong>
  <%= @estimation.dimension_l %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @estimation.remarks %>
</p>

<p>
  <strong>Station:</strong>
  <%= @estimation.station_id %>
</p>

<%= link_to 'Edit', edit_estimation_path(@estimation) %> |
<%= link_to 'Back', estimations_path %>
