



<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%#= @estimation.client_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @estimation.title rescue'-'%>
</p>

<p>
  <strong>Dimension:</strong>
  <%= @estimation.dimension rescue'-'%>
</p>

<p>
  <strong>Drawing no:</strong>
  <%= @estimation.drawing_no_id rescue'-' %>
</p>

<p>
  <strong>Date:</strong>
  <%= @estimation.date rescue'-'%>
</p>

<p>
  <strong>Issued by:</strong>
  <%#= @estimation.issued_by %>
</p>

<%= link_to 'Edit', edit_estimation_path(@estimation) %> |
<%= link_to 'Back', estimations_path %>
