<h3>Product => Station => <u>Estimation</u></h3>

<div> <h4>Station : <u><%= @station_estimation.name rescue'-' %></u></h4>

<%#= render :text => params[:station_estimation].to_json %>
<div style="float:right;"><%= link_to "Copy From Standard" , list_project_estimation_projects_path(:non_standard_station_id => @station_estimation.id ) , :class=>"btn btn-mini btn-success" %></div>
</div>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>Dimension</th>
      <th></th>
      <th>Date</th>
      <th></th> 
      <th>Action</th>
      
    </tr>
  </thead>

  <tbody>
    
    <% @station_estimation.estimations.each_with_index do |estimation , index| %>
    
      <tr>
        <td><%= index + 1 %></td>
        <td><%= estimation.title rescue'-' %></td>
        <td><%= estimation.dimension rescue'-' %></td>
        <td><%#= estimation.drawing_no_id %></td>
        <td><%= estimation.date %></td>
        <td><%#= estimation.issued_by %></td>
        <td><%= link_to 'Add Item' , new_estimation_item_path(:estimation_id => estimation) , :class=>"btn btn-mini btn-info" , :target => "_blank" %>
          <%= link_to 'Detail' , estimation_items_path(:estimation_id => estimation) ,:class=>
          " btn btn-mini btn-success" %>
          <% if roles.include?(InventoryManagementSystem::ESTIMATION_DELETE) %>
          <%= link_to 'Delete', estimation, method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-mini btn-danger' %>
          <% else %>
          <button type="button" class="btn btn-mini">Delete</button>
          <% end %></td>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', stations_path , :class=>"btn" %>