<% array = [] %>
<% array_total = [] %>
<% array_price_total = [] %>
<% final_total = [] %>
<% array_price_total_ton = [] %>
 <% @info_estimation_items.estimation_items.each_with_index do |estimation_item , index| %>
 <tr>
   
        <td><%= index + 1 %>/ <%= estimation_item.id %></td>
        <td><% if estimation_item.part_detail.present? %>
          <%= estimation_item.part_detail rescue'-' %>
          <% else %>
          -
          <% end %>
        </td>
        <td><%= estimation_item.material.name rescue'-' %>
          <%#= render :text => p.material_id.to_json %>
        </td>
        <td><% if estimation_item.material && estimation_item.material.category_id == 6 %>
              <%= estimation_item.thk_dia rescue'-' %>
              &nbsp;
              
            <% else %>
              
              <%= estimation_item.thk_dia.to_f rescue'-' %>
              <%= estimation_item.unit_measurement rescue'-' %>
            <% end %>
        </td>

        <td><% if estimation_item.dimension_h.present? %>
            <%= estimation_item.dimension_h rescue'-' %>
            <% else %>
            -
            <% end %>
        </td>
        <td><% if estimation_item.material && estimation_item.material.category_id == 2 %>
              <% if estimation_item.dimension_w.present? %>
                <%= estimation_item.dimension_w rescue'-' %>
              <% else %>
                -
              <% end %>
            <% else %>
              <%= estimation_item.dimension_w.to_f rescue'-' %>
            <% end %>
        </td>
        <td><%= estimation_item.dimension_l rescue'-' %></td>

        <td><%= two_precision estimation_item.total_wt_ibs_ft rescue'-' %></td>

        <td><%= estimation_item.qty rescue'-' %></td>
        <td><%= estimation_item.uom rescue'-' %></td>

        <td><% if estimation_item.material && estimation_item.material.category_id == 1 %>
              <%= three_precision estimation_item.weight_fomular_1 rescue'-' %>
              <% array << estimation_item.weight_fomular_1 %>

            <% elsif estimation_item.material && estimation_item.material.category_id == 2 %>
              <%= three_precision estimation_item.weight_fomular_2 rescue'-' %>
              <% array << estimation_item.weight_fomular_2 %>

            <% elsif estimation_item.material && estimation_item.material.category_id == 3 %>
              <%= three_precision estimation_item.weight_fomular_3 rescue'-' %>
              <% array << estimation_item.weight_fomular_3 %>

            <% elsif estimation_item.material && estimation_item.material.category_id == 4 %>
              <%= three_precision estimation_item.weight_fomular_4 rescue'-' %>
              <% array << estimation_item.weight_fomular_4 %>

            <% elsif estimation_item.material && estimation_item.material.category_id == 5 %>
              <%= three_precision estimation_item.weight_fomular_5 rescue'-' %>
              <% array << estimation_item.weight_fomular_5 %>

            <% elsif estimation_item.material && estimation_item.material.category_id == 6 %>
              -
            <% else %>
              &nbsp;
            <% end %>
        </td>
        <td><%= estimation_item.unit_price %></td>

        <td><%= two_precision(estimation_item.price_total) rescue'-' %></td>
          <% array_price_total << estimation_item.price_total rescue'-'%>
        <td>
          <% if roles.include?(InventoryManagementSystem::ESTIMATION_EDIT) %>
          <%= link_to 'Edit', edit_estimation_item_path(estimation_item, :estimation_id => params[:estimation_id]) , :class => 'btn btn-mini' %>
          <% else %>
          <button type="button" class="btn btn-mini">Edit</button>
          <% end %></td>
        <td>
          <% if roles.include?(InventoryManagementSystem::ESTIMATION_DELETE) %>
          <%= link_to 'Remove', estimation_item , method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-mini btn-danger'%>
          <% else %>
          <button type="button" class="btn btn-mini">Remove</button>
          <% end %></td>
      </tr>

        
    <% end %>
      <tr>
        <td colspan="9"></td>
        <td style="align:left;">Total : </td>
        <td id="estimation_item_total_weight"><%= four_precision(array.sum) %></td>

        <td></td>
        <td><%= two_precision(array_price_total.sum)%></td>
        <td></td>
        <td></td>
      </tr>