<table style="width:100%;">
  <% estimation = @info_estimation_items %>
  <tr>
    <td>Client :        <u><%= estimation.station.project.client.name rescue'-'%></u></td>
    <td>Item :          <u id="index_count"></u></td>
  </tr>
  <tr>
    <td>Title :         <u><%= estimation.title rescue'-' %></u></td>
    <td>Drawing No:     <u><%= estimation.drawing_no_id rescue'-'  %></u></td>
  </tr>

  <tr>
    <td>Dimension :     <u><%= estimation.dimension rescue'-' %></u></td>
    <td>Issued By :     <u><%= estimation.user.username rescue'-' %></u></td>
    
  </tr>
  <tr>
    <td>Date :          <u><%= estimation.date rescue'-' %></u></td>
    <td>Total :         <u id="total_weight"></u></td>
  </tr>
  <%# end %>
</table>
