<%#= render :text => params[:estimation_id].to_json %>
<table>

  <tr>
    <th>Title :</td>
    <th style="width:150px;"><%= @estimation.title rescue'-' %></th>
    <th style="width:150px;">Dimension :</th>
    <th><%= @estimation.dimension rescue'-' %></th>
  </tr>
  <%# end %>
</table>
<hr />
<%= simple_form_for(@estimation_item) do |f| %>
  <%= f.error_notification %>

    <%= f.input "estimation_id", :as => :hidden, :input_html => { :value => params[:estimation_id]} %>

<table >
    <div class="inputs">
    <tr>
        <td><%= f.input :part_detail , :input_html => {:maxlength => 15, :size => 20 } %></td>
        <td><%= f.label :material_id %><%= f.select :material_id , Material.all.map { |r| [r.name, r.id] } ,include_blank: true ,:size=> 9 %>
        </td>
        <!-- <td><div id="showData"></div></td> -->
    </tr>

    <%#= f.association :client, collection: Client.all, include_blank: true, input_html: { class: 'chosen-select' } %>

    
    <tr style="align:margin-right">
        <td><%= f.label :thk_dia %><%= f.select :thk_dia ,Material.all.map{|i| [i.thk_dia , i.id]}, :include_blank=> true , :id=>"thk_dia" %></td>

        <td><%= f.label :dimension_h %><%= f.select :dimension_h, Material.all.map{|h| [h.dimension_h , h.id]} , :include_blank=> true,:size=> 9, :id=>"dimension_h" %></td>

        <td><%= f.label :dimension_w %><%= f.select :dimension_w, Material.all.map{|w| [w.dimension_w , w.id]} , :include_blank=> true,:size=> 9, :id=>"dimension_w" %></td>

        <td><%= f.input :dimension_l, label: "Dimension L" ,:size=> 9, :id=>"dimension_l" %></td>

        <td><%= f.label :wt_ibs_ft %><%= f.select :wt_ibs_ft , Material.all.map{|j| [j.wt_ibs_ft , j.id]}, :size=> 9, :include_blank=> true %></td>
    </tr> 
    <tr>
        
        <td><%= f.input :qty , label: "Quantity" ,:size=> 9 %></td>
        <td><%= f.input :uom , label: "Unit Measure" , :size=> 9 %></td>
        <td><%# if Material.category_id == 1 %>
            <%= f.input :weight , label: "Weight Ib" ,:disabled => true,:size=> 9 , :id => "weight" %>
            <%# else %>
            <%#= f.input :weight , :disabled => true , :size => 9  %>
            <%# end %>
        </td>
    </tr>
    </div>
</table>
<br>
  <div class="actions">
    <%#= f.button :add_row  , :class=>"append_row" ,:onclick=>"javascript:appendRow()" %>
    <!-- <input class="append_row" type="button" onclick="javascript:appendRow()" value="Add row"> -->
    <%= f.button :submit , :class=>"btn btn-primary" %> <%= link_to 'Back', estimations_path , :class=>"btn" %>
  </div>
<% end %>



<%#= label :quantity, "Quantity"%>
<%#= text_field :quantity, :size=>20, :id =>"qty" %>

<%#= label :amount, "Amount"%>
<%#= text_field :amount, :size=>20, :id =>"amount"%>

<script type="text/javascript">

// $(document).on("keyup", "#material_category_id" , catogeryDiv);


//     $(function() {
//     $("#price, #qty").keyup(function() {
//         var p = $("#price ").val();
//         var q = $("#qty").val();
//         //var z = $("#wt_ibs_ft").val();
//         $("#amount").val(q * p);
//     });



</script>
