<%#= render :text => params[:estimation_id].to_json %>
<table>

  <tr>
    <th>Title :</td>
    <th style="width:150px;"><%= @estimation.title rescue'-' %></th>
    <th style="width:150px;">Dimension :</th>
    <th><%= @estimation.dimension rescue'-' %></th>
  </tr>
  <%# end %>
</table>
<hr />
<%= simple_form_for(@estimation_item) do |f| %>
  <%= f.error_notification %>

    <%= f.input "estimation_id", :as => :hidden, :input_html => { :value => params[:estimation_id]} %>

<table >
    <div class="inputs">
    <tr>
        <td><%= f.input :part_detail , :input_html => {:maxlength => 15, :size => 20} %></td>
        <td><%= f.label :material_id %><%= f.select :material_id , Material.all.map { |r| [r.name, r.id] } ,include_blank: true ,:size=> 9 %>
        </td>
        <td><div id="showData"></div></td>
    </tr>
    
    <tr style="align:margin-right">
      <legend>Dimension</legend>
        <td><%= f.input :thk_dia  , as: :hidden %></td>
        <td><%= f.input :dimension_h, as: :hidden, label: "Dimension H",:size=> 9, :id=>"dimension_h" %></td>
        <td><%= f.input :dimension_w, as: :hidden, label: "Dimension W",:size=> 9, :id=>"dimension_w" %></td>
        <td><%= f.input :dimension_l, as: :hidden, label: "Dimension L",:size=> 9, :id=>"dimension_l" %></td>
    </tr> 
    <tr>
        
        <td><%= f.input :qty ,:size=> 9 %></td>
        <td><%= f.input :uom ,:size=> 9 %></td>
        <td><%# if Material.category_id == 1 %>
            <%= f.input :weight ,  :disabled => true,:size=> 9 , :id => "weight" %>
            <%# else %>
            <%#= f.input :weight , :disabled => true , :size => 9  %>
            <%# end %>
        </td>
        <td><%= f.input :wt_ibs_ft , as: :hidden ,  :size=> 9 %></td>
    </tr>
    <tr>
        <td>Unit price</td>
        <td>Total</td>
        <td><%#= f.input :remarks, :size=> 9 %></td>
    </tr>

    </div>
</table>
<br>
  <div class="actions">
    <%#= f.button :add_row  , :class=>"append_row" ,:onclick=>"javascript:appendRow()" %>
    <!-- <input class="append_row" type="button" onclick="javascript:appendRow()" value="Add row"> -->
    <%= f.button :submit , :class=>"btn btn-primary" %> <%= link_to 'Back', estimations_path , :class=>"btn" %>
  </div>
<% end %>


<%#= label :price, "price"%> 
<%#= text_field :price, :size=>20, :id =>"price" %>

<%#= label :quantity, "Quantity"%>
<%#= text_field :quantity, :size=>20, :id =>"qty" %>

<%#= label :amount, "Amount"%>
<%#= text_field :amount, :size=>20, :id =>"amount"%>

<script type="text/javascript">

// $(document).on("keyup", "#material_category_id" , catogeryDiv);


//     $(function() {
//     $("#price, #qty").keyup(function() {
//         var p = $("#price ").val();
//         var q = $("#qty").val();
//         //var z = $("#wt_ibs_ft").val();
//         $("#amount").val(q * p);
//     });



</script>
