<%#= render :text => params[:estimation_id].to_json %>
<hr />
<%= simple_form_for(@estimation_item) do |f| %>
  <%= f.error_notification %>

    <%= f.input "estimation_id",as: :hidden , :input_html => { :value => params[:estimation_id]} %>

<table >
    <div class="inputs">
    <tr>
        <td><%= f.input :part_detail , :input_html => {:maxlength => 25, :size => 20 } %></td>
        <td><%#= f.label :material_id %><%#= f.input :material_id , Material.all.map { |r| [r.name, r.id] } ,include_blank: true ,:size=> 9 %>
            <%# if action_name == "edit" %>
                <%#= f.input :material_id , :as => :string %>
                <%#= hidden_field_tag "material_id" %>
            <%# else %>
            <%# if action_name => "edit" %>
                <%#= f.input :material_id , :as => :string %>
                <%# else %>
                <%= f.input :material_id, :as => :string ,:disabled => true %>
                <%= hidden_field_tag "material_id" %>  <!-- this link is to capture material id -->
            <%# end %>
        </td>
        <!-- <td><div id="showData"></div></td> -->
    </tr>
    <tr style="align:margin-right">
        <td><%# if @material_detail.type_id == 1 %>
            <%= f.input :thk_dia ,:as => :string %>
            <%#= hidden_field_tag "thk_dia" , nil, :id=>"thk_dia_hidden_field" %>
            <%# else %>
            <%#= f.input :thk_dia , :as => :string , :disabled => true %>
            <%#= hidden_field_tag "thk_dia" , nil, :id => "thk_dia_hidden_field" %>
            <%# end %>
        </td>
        
        <td><%= f.input :dimension_h,:as => :string, :disabled => true %>
            <%= hidden_field_tag "dimension_h", nil , :id=>"dimension_h_hidden_field" %></td>

        <td><%= f.input :dimension_w ,:as => :string %>
            <%#= hidden_field_tag "dimension_w",:id=>"dimension_w_hidden_field" %></td>

        <td><%= f.input :dimension_l,:as => :string, label: "Dimension L" ,:size=> 9, :id=>"dimension_l" %></td>

        <td><%= f.input :wt_ibs_ft, :as => :string, :disabled => true %>
                <%= hidden_field_tag "wt_ibs_ft" , nil ,:id=>"wt_ibs_ft_hidden_field" %></td>
    </tr> 
    <tr>
        
        <td><%= f.input :qty , :as => :string , label: "Quantity" ,:size=> 9 %></td>
        <td><%= f.input :uom , label: "Unit Measure" , :size=> 9 %></td>

        <td><%= f.input :unit_price ,:as => :string %>
            <%= hidden_field_tag "unit_price" , nil , :id=>"unit_price_hidden_field" %></td>
            <%#= f.input :weight , label: "Weight Ib" ,:disabled => true,:size=> 9 %>
        
    </tr>
    </div>
</table>
<br>
  <div class="actions">

    <%= f.button :submit , :class=>"btn btn-primary" %>
    <%= link_to 'Back', estimations_path , :class=>"btn" %>
  </div>
<% end %>

<%#= render "show_material" %>
<table id="jdatatable" class="display" >
    <thead>
    <tr>
        <th>No</th>
        <th></th>
        <th>Materials</th>
        <th>Dimension H</th>
        <th>Dimension W</th>
        <th>WT</th>
        <th>Thk/Dia</th>
        <th>Wt/Ibs/ft</th>
        <th>Price</th>
        
    </tr>
    </thead>
    <tbody>
    <% @show_material.each_with_index do |material , index| %>
    <tr>
        
        <td><%= index + 1 %></td>
        <!-- (name, value = "1", checked = false, options = {}) -->
        <td><%= check_box_tag "estimation_material", {},false,{:id=>"estimation_item_checkbox", :es_ma => material.id}  %></td>
        <td id="<%= "name_#{material.id}" %>"><%= material.name rescue'-' %></td>
        <td id="<%= "dimension_h_#{material.id}" %>"><%= material.dimension_h rescue'-' %></td>
        <td id="<%= "dimension_w_#{material.id}" %>"><%= material.dimension_w rescue'-' %></td>
        <td id="<%= "plate_#{material.id}" %>"><%= material.plate rescue'-' %></td>
        <td id="<%= "thk_dia_#{material.id}" %>"><%= material.thk_dia rescue'-' %></td>
        <td id="<%= "wt_ibs_ft_#{material.id}" %>"><%= material.wt_ibs_ft rescue'-' %></td>
        <% a = material.price_control_items.last %>
        <td id="<%= "unit_price_#{material.id}"%>"><%= a.new_unit_price rescue'-' %></td>
        <!-- <td id="<%#= "unit_price_#{material_id}" %>"><%#= material.price_control_items.new_unit_price rescue'-' %></td> -->

    </tr>

    <% end %>
    </tbody>

</table>
<script type="text/javascript">

$(document).ready(function(){

    $("input:checkbox").change(function(sel){

        var material_id = $(this).attr("es_ma");
        //alert(material_id);
        // total allowed to be checked.
        var max_allowed = 0;
        // count how many checked.
        var checked = $("input:checked").size();
        // perform test.
            if ( checked > max_allowed ) {
                // is more than the max so uncheck.
                $(this).attr("checked", false);
            }

        // down 5 line is to bring up from datatable to field 
        var name = $("#name_"+ material_id).text();
        var dimension_w = $("#dimension_w_" + material_id ).text();
        var dimension_h = $("#dimension_h_" + material_id ).text();
        var thk_dia = $("#thk_dia_" + material_id ).text();
        var wt_ibs_ft = $("#wt_ibs_ft_" + material_id ).text();
        var unit_price = $("#unit_price_" + material_id ).text();
        //alert(dimension_w);
        $("#estimation_item_material_id").val(name);

        $("#estimation_item_thk_dia").val(thk_dia);
        $("#thk_dia_hidden_field").val(thk_dia);    //hidden field for write down record and store in db

        $("#estimation_item_dimension_h").val(dimension_h);
        $("#dimension_h_hidden_field").val(dimension_h);

        $("#estimation_item_dimension_w").val(dimension_w);
        $("#dimension_w_hidden_field").val(dimension_w);

        $("#estimation_item_wt_ibs_ft").val(wt_ibs_ft);
        $("#wt_ibs_ft_hidden_field").val(wt_ibs_ft);

        $("#estimation_item_unit_price").val(unit_price);
        $("#unit_price_hidden_field").val(unit_price);


        $("#material_id").val(material_id);

        
    });
});

</script>
