<% if @estimation_item.present? %>
<hr />
<%= simple_form_for(@estimation_item) do |f| %>
<%= f.error_notification %>
<%= f.input "estimation_id",as: :hidden , :input_html => { :value => params[:estimation_id]} %>

<table >
    <div class="inputs">
    <tr>
        <td>
            <%= f.input :part_detail , :input_html => {:maxlength => 25, :size => 20 } %></td>
        <td>
            <% if @estimation_item.material_id.present? %>
                <%= f.input :material_id, :as => :string, :disabled => true, input_html: { value: @estimation_item.material.name } %>
                <%= hidden_field_tag "material_id", @estimation_item.material_id %>
            <% else %>
                <%= f.input :material_id, :as => :string, :disabled => true %>
                <%= hidden_field_tag "material_id" %>
            <% end %>
            
            <!-- this link is to capture material id -->
        </td>
        <td>
            <% if @estimation_item.fitting_material_id.present? %>
                <%= f.input :fitting_material_id, :as => :string, :disabled => true, input_html: { value: @estimation_item.fitting_material.name } %>
                <%= hidden_field_tag "fitting_material_id", @estimation_item.fitting_material_id %>
            <% else %>
                <%= f.input :fitting_material_id, :as => :string, :disabled => true %>
                <%= hidden_field_tag "fitting_material_id" %>
            <% end %>
            
        </td>
        <td>
            <%= f.input :description, label: "Raw Material Description", :disabled => true %>
            <% if @estimation_item.description.present? %>
                <%= hidden_field_tag "estimation_item[description]", @estimation_item.description, :id=>"description_hidden_field" %>
            <% else %>
                <%= hidden_field_tag "estimation_item[description]", nil, :id=>"description_hidden_field" %>
            <% end %>
        </td>
    </tr>
    <tr style="align:margin-right">
        <td>
            <%= f.input :thk_dia , label: "Thick / Dia. :" ,:as => :string , input_html: { :style => 'width: 200px' } %>
            <%= hidden_field_tag "thk_dia" , nil , :id=>"thk_dia_hidden_field" %>

            <%= f.input :thk_dia_um ,label: "Thk/dia Unit Measure:" , :as => :string , input_html: { :style => 'width: 200px' } %>
            <%= hidden_field_tag "thk_dia_um" , nil , :id => "thk_dia_um_hidden_field" %>
            
        </td>
        <td>
            <%= f.input :dimension_h, label: "Dimension H" , :as => :string, :disabled => true %>
            <%= hidden_field_tag "estimation_item[dimension_h]", nil , :id=>"dimension_h_hidden_field" %>
        </td>

        <td>
            <%= f.input :dimension_w,label: "Dimension W" , :as => :string %>
            <%= hidden_field_tag "dimension_w", nil , :id=>"dimension_w_hidden_field" %>
        </td>
            
        <td>
            <%= f.input :dimension_l,:as => :string, label: "Dimension L" ,:size=> 9, :id=>"dimension_l" %>
        </td>

        <td>
            <%= f.input :wt_ibs_ft,label: "Unit Weight(WT)" , :as => :string, :disabled => true %>
            <%= hidden_field_tag "estimation_item[wt_ibs_ft]" , nil ,:id=>"wt_ibs_ft_hidden_field" %>
        </td>
    </tr> 
    <tr>
        <td>
            <%= f.input :qty , :as =>:integer , label: "Quantity" ,:size=> 9 %>
        </td>

        <td>
            <%= f.input :uom , label: "Unit Measure" , :size=> 9 %>
            <%= hidden_field_tag "unit_measure", nil, :id=>"uom_hidden_field" %>
        </td>

        <td>
            <%= f.input :unit_price, :as => :string, :disabled => true %>
            <% if @estimation_item.unit_price.present? %>
                <%= hidden_field_tag "estimation_item[unit_price]", @estimation_item.unit_price, :id=>"unit_price_hidden_field" %>
            <% else %>
                <%= hidden_field_tag "estimation_item[unit_price]", nil, :id=>"unit_price_hidden_field" %>
            <% end %>
        </td>
    </tr>
    </div>
</table>
<br>
  <div class="actions">
    <%= f.button :submit , :class=>"btn btn-primary" %>
    <%= link_to 'Back', estimations_path , :class=>"btn" %>
    <%= link_to "reset", "#", :class=>"btn" , :id => "reset_button" %>
  </div>
<% end %>
<div style="float: right;"><%= will_paginate @show_material %></div>
<br><br><br><br>
<%= render "tab_table" %>
<% else %>
    Estimation ID had been deleted ...
<% end %>
