
<table class="table table-bordered">
    <thead>
    <tr>
        <th>No</th>
        <th></th>
        <th>Materials</th>
        <th>Thk/Dia</th>
        <th>Dimension H</th>
        <th>Dimension W</th>
        <th>Wt/Ibs/ft</th>
        <th>UM</th>
        <th>Price</th>
        
    </tr>
    </thead>
    <tbody>
    <% @show_material.each_with_index do |material , index| %>
    <tr>
        
        <td><%= index + 1 %></td>
        <!-- (name, value = "1", checked = false, options = {}) -->
        <td>
            <%= button_tag "submit", :es_ma => material.id ,
            :class=>"btn btn-mini estimation_button" %>
        </td>
        <td id="<%= "name_#{material.id}" %>"><%= material.name rescue'-' %>
        </td>
        <!-- don change space or enter of thk_dia and thk_dia_um , 
        it use to split at javascript-->
        <td id="<%= "thk_dia_#{material.id}" %>"><%= material.thk_dia rescue'-' %> <%= material.thk_dia_um rescue'-' %></td>
        <td id="<%= "dimension_h_#{material.id}" %>"><%= material.dimension_h rescue'-' %></td>
        <td id="<%= "dimension_w_#{material.id}" %>">
            <%= material.dimension_w rescue'-' %>
        </td>
        <td id="<%= "wt_ibs_ft_#{material.id}" %>">
            <% if material.plate.present? %>
                <%= material.plate rescue'-'  %>
            <% else %>
                <%= material.wt_ibs_ft rescue'-' %>
            <% end %>
        </td>
        <td id="<%= "unit_measure_#{material.id}" %>"><%= material.unit_measure rescue'-' %></td>
        
        <% a = material.price_control_items.where("new_eff_date >= ?" , Date.today).order("new_eff_date").first %>
        <td id="<%= "unit_price_#{material.id}"%>"><%= a.new_unit_price rescue'-' %>
        </td>
    </tr>

    <% end %>
    </tbody>

</table>