
<% array_price_total = [] %>
<a href="#myModal" role="button" class="btn" data-toggle="modal">Show Other Expenses</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Remark</h3>
  </div>
  <div class="modal-body">
<p>
   
    <table class="table">
        <tr>
            <td align="center">Materails</td>
            <td align="right"></td>

            <%# end %>
            <td align="center">Welding</td>
            <td align="right"><%= @info_estimation_items.welding rescue'-' %></td>
        </tr>
        <tr>
            <td align="center">Oxygen & Acetylene</td>
            <td align="right"><%= @info_estimation_items.oxygen_acetylene rescue'-' %></td>
            <td align="center">Painting</td>
            <td align="right"><%= @info_estimation_items.painting rescue'-' %></td>
        </tr>
        <tr>
            <td align="center">Sand Blasting</td>
            <td align="right"><%= @info_estimation_items.sand_blasting rescue'-' %></td>
            <td align="center">Transport</td>
            <td align="right"><%= @info_estimation_items.transport rescue'-' %></td>
        </tr>
        <tr>
            <td align="center">Crane</td>
            <td align="right"><%= @info_estimation_items.crane rescue'-' %></td>
            <td align="center">Shipment</td>
            <td align="right"><%= @info_estimation_items.shipment rescue'-' %></td>
        </tr>
        <tr>
            <td align="center">Labour</td>
            <td align="right"><%= @info_estimation_items.labour rescue'-' %></td>
            <td align="center">Installation</td>
            <td align="right"><%= @info_estimation_items.installation rescue'-' %></td>
        </tr>
        <tr>
            <td align="center">Dismantle</td>
            <td align="right"><%= @info_estimation_items.dismantle rescue'-' %></td>
            <td align="center">Machining</td>
            <td align="right"><%= @info_estimation_items.machining rescue'-' %></td>
        </tr>
        <tr>
            <td align="center">Insulation</td>
            <td align="right"><%= @info_estimation_items.insulation rescue'-' %></td>
            <td align="center">Civil Work</td>
            <td align="right"><%= @info_estimation_items.civil_work rescue'-' %></td>
        </tr>
        <tr>
            <td align="center">Electrik</td>
            <td align="right"><%= @info_estimation_items.electrik rescue'-' %></td>
            <td align="center">Piling Work</td>
            <td align="right"><%= @info_estimation_items.piling_work rescue'-' %></td>
        </tr>
        <tr>
            <td align="center">Forming</td>
            <td align="right"><%= @info_estimation_items.forming rescue'-' %></td>
            <td align="center">Misc</td>
            <td align="right"><%= @info_estimation_items.misc rescue'-' %></td>
        </tr>
        <tr>
            <td align="center">JKKP</td>
            <td align="right"><%= @info_estimation_items.jkkp rescue'-' %></td>
            <td align="center"></td>
            <td align="right"></td>
        </tr>
    </table>
</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
