


<table id="jdatatable" class="display" >
    <thead>
    <tr>
        <th>No</th>
        <th></th>
        <th>Name</th>
        <th>Dimension H</th>
        <th>Dimension W</th>
        <th>WT</th>
        <th>Thk/Dia</th>
    </tr>
    </thead>
    <tbody>
    <% @show_material.each_with_index do |material , index| %>
    <tr>
        
        <td><%= index + 1 %></td>
        <td><%= check_box_tag "estimation_material" %></td>
        <td><%= material.name rescue'-' %></td>
        <td><%= material.dimension_h , :class=>"dimension_h_#{material.id}" ,  rescue'-' %></td>
        <td><%= material.dimension_w , :class=>"dimension_w_#{material.id}" , rescue'-' %></td>
        <td><%= material.wt_ibs_ft , :class=>"wt_ibs_ft_#{material.id}" , rescue'-' %></td>
        <td><%= material.thk_dia  , :class=>"thk_dia_#{material.id}" , rescue'-' %></td>
        
    </tr>

    <% end %>
    </tbody>

</table>