<h3>Project => Station => Estimation => <u>Estimation Items</u></h3>
  <%#= render :text => params[:estimation].to_json %>
<% array = [] %>
<% array_total = [] %>
<!-- <div style="flaot:left;"> -->
<table style="width:100%;">
  <% estimation = @info_estimation_items %>
  <tr>
    <td></td>
    <td>Title :         <u><%= estimation.title rescue'-' %></u></td>
  </tr>

  <tr>
    <td>Dimension :     <u><%= estimation.dimension rescue'-' %></u></td>
    <td>Weight :        <u><%#= four_precision(array.sum) %></u></td>
  </tr>
  <%# end %>
</table>

<%= render "remark_table_estimation" %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2">No.</th>
      <th rowspan="2">Part Detail</th>
      <th rowspan="2">Material</th>
      <th colspan="4" align="center">Dimension(mm)</th>
      <th colspan="1">WT</th>
      <th rowspan="2">Qty</th>
      <th rowspan="2">UOM</th>
      <th rowspan="1">Weight</th>
      <th rowspan="2" width="50">Unit Price</th>
      <th rowspan="2">Total</th>
      <!-- <th rowspan="2">Remarks</th> -->
      <th rowspan="2">Action</th>

    </tr>
    <tr>
      <th align="center">Thk/Dia.</th>
      <th align="center">H</th>
      <th align="center">W</th>
      <th align="center">L</th>
      <th align="center">Ibs/Ft<sup>2</sup></th>
      <th align="center">Ib / KG</th>
    </tr>
  </thead>
  
  <%# estimation = params[:estimation] %>
  <tbody>
    <% estimation.estimation_item.each_with_index do |estimation_item , index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><% if estimation_item.part_detail.present? %>
          <%= estimation_item.part_detail rescue'-' %>
          <% else %>
          -
          <% end %>
        </td>
        <td><%= estimation_item.material.name rescue'-' %>
          <%#= render :text => p.material_id.to_json %>
        </td>
        <td><%= estimation_item.thk_dia rescue'-' %></td>
        <td><% if estimation_item.dimension_h.present? %>
            <%= estimation_item.dimension_h rescue'-' %>
            <% else %>
            -
            <% end %>
        </td>
        <td><% if estimation_item.dimension_w.present? %>
          <%= estimation_item.dimension_w rescue'-' %>
          <% else %>
          -
          <% end %>
        </td>
        <td><%= estimation_item.dimension_l rescue'-' %></td>

        <td><% if estimation_item.wt_ibs_ft.present? %>
          <%= estimation_item.wt_ibs_ft rescue'-' %>
          <% else %>
          <%= estimation_item.total_wt_ibs_ft %>
          <% end %>
        </td>

        <td><%= estimation_item.qty rescue'-' %></td>
        <td><%= estimation_item.uom rescue'-' %></td>

        <td><% if estimation_item.material && estimation_item.material.category_id == 1 %>
              <%= four_precision estimation_item.fomular_1 rescue'-' %>
              <% array << estimation_item.fomular_1 %>

            <% elsif estimation_item.material && estimation_item.material.category_id == 2 %>
              <%= four_precision estimation_item.fomular_2 rescue'-' %>
              <% array << estimation_item.fomular_2 %>

            <% elsif estimation_item.material && estimation_item.material.category_id == 3 %>
              <%= four_precision estimation_item.fomular_3 rescue'-' %>
              <% array << estimation_item.fomular_3 %>

            <% elsif estimation_item.material && estimation_item.material.category_id == 4 %>
              <%= four_precision estimation_item.fomular_4 rescue'-' %>
              <% array << estimation_item.fomular_4 %>

            <% elsif estimation_item.material && estimation_item.material.category_id == 5 %>
              <%= four_precision estimation_item.fomular_5 rescue'-' %>
              <% array << estimation_item.fomular_5 %>

            <% elsif estimation_item.material && estimation_item.material.category_id == 6 %>
              -
              
            <% else %>
              &nbsp;
            <% end %>
        </td>
        <td><%#= estimation_item.total_weigth %></td>
        <td></td>
        <!-- <td><%#= estimation_item.remarks rescue'-' %></td> -->
        <td><%= link_to 'Edit', edit_estimation_item_path(estimation_item) , :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', estimation_item , method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-mini btn-danger'%></td>
      </tr>
      
    <% end %>
      <tr>
        <td rowspan="5" >Total : </td>
        <td><%= four_precision(array.sum) %></td>
        <% array_total << array %>
      </tr>
  </tbody>
</table>

<%= link_to "Back" , estimations_path , :class=>"btn" %>
<br>