<div><h3>Listing Price Controls</h3></div>
<div style="float: right; "><%= link_home_button %></div>
<%#= render "search_index_price_control" %>
<table class="table table table-bordered">
  <thead >
    <tr>
      <th>No</th>
      <!-- <th>Material</th> -->
      <!-- <th>Pp No</th> -->
      <th>Material Price Date</th>
      <th>Client</th>
      <th>Reference</th>
      <!-- <th>User</th> -->
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @price_controls.each_with_index do |pc , index| %>
      <tr>
        <td><%= index + 1 %></td>
        <!-- <td><%#= pc.material.name %></td> -->
        <td><%= pc.reference %></td>
        <!--  <td><%#= pc.pp_no %></td> -->
        <td><%= pc.pp_date.strftime("%d-%m-%Y") %></td>
        <td><%= pc.client.name %></td>
        <!-- <td><%#= pc.user_id %></td> -->
        <td><%#= link_to 'Show', pc %>
          <%= link_to "Add Item" , new_price_control_item_path(:price_control_id => pc) , :class=>"btn btn-mini", :target => "_blank" %>
        <%= link_to "Detail", price_control_items_path(:price_control_id => pc) , :class=>"btn btn-mini btn-warning" %>
        <%= link_to 'Edit', edit_price_control_path(pc) , :class=>"btn btn-mini btn-info" %>
        <%= link_to 'Destroy', pc, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "btn btn-mini btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price control', new_price_control_path , :class=>"btn" %>
 

