<tr>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", :disabled => true %> Product</td>

    <td><%= check_box_tag "inventory_management_system[]", :disabled => true %> Station</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

    <tr>
        <td></td>
        <td></td>

        <td><%= check_box_tag "inventory_management_system[]", :disabled => true %> Material</td>

        <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

        <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

        <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

        <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

    </tr>    

</tr>

<tr>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", :disabled => true %> Inventory</td>

    <td><%= check_box_tag "inventory_management_system[]", :disabled => true %> Example 1</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

    
    <tr>
        <td></td>
        <td></td>
        <td><%= check_box_tag "inventory_management_system[]", :disabled => true %> Example 2</td>

        <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

        <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>

        <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> </td>
    </tr>    

</tr>

