
<tr>
    <!-- Module -->
    <td><%= edit_module(@checkboxes, InventoryManagementSystem::CLIENT) %> Client </td>
    <!-- sub module -->
    <td><%#= edit_module(@checkboxes, InventoryManagementSystem::PRODUCT_STATION) %> - </td>
    
    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::CLIENT_ADD) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRODUCT_STATION_SHOW) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::CLIENT_EDIT) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::CLIENT_DELETE) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRODUCT_STATION_PRINTER) %></td>

</tr>

<tr>
    <td><%= edit_module(@checkboxes, InventoryManagementSystem::MATERIAL) %> Material </td>
    <td> - </td>
    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::MATERIAL_ADD) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::MATERIAL_SHOW) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::MATERIAL_EDIT) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::MATERIAL_DELETE) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRODUCT_STATION_PRINTER) %></td>
</tr>

<tr>
    <td><%= edit_module(@checkboxes, InventoryManagementSystem::FITTING_MATERIAL) %> Fitting Material </td>
    <td> - </td>
    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::FITTING_MATERIAL_ADD) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::MATERIAL_SHOW) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::FITTING_MATERIAL_EDIT) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::FITTING_MATERIAL_DELETE) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRODUCT_STATION_PRINTER) %></td>
</tr>

<tr>
    <td><%= edit_module(@checkboxes, InventoryManagementSystem::PROJECT) %> Project </td>
    <td> - </td>
    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::PROJECT_ADD) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::PROJECT_SHOW) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::PROJECT_EDIT) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::PROJECT_DELETE) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRODUCT_STATION_PRINTER) %></td>

</tr>

<tr>
    <td> </td>
    <td><%= edit_module(@checkboxes, InventoryManagementSystem::STANDARD_PROJECT) %> Standard Project </td>
    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::STANDARD_PROJECT_ADD) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::STANDARD_PROJECT_SHOW) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::STANDARD_PROJECT_EDIT) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::STANDARD_PROJECT_DELETE) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRODUCT_STATION_PRINTER) %></td>

</tr>

<tr>
    <td><%= edit_module(@checkboxes, InventoryManagementSystem::STATION) %> Station </td>
    <td> - </td>
    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::STATION_ADD) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::STATION_SHOW) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::STATION_EDIT) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::STATION_DELETE) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRODUCT_STATION_PRINTER) %></td>

</tr>

<tr>
    <td><%= edit_module(@checkboxes, InventoryManagementSystem::ESTIMATION) %> Estimation </td>
    <td><%#= edit_module(@checkboxes, InventoryManagementSystem::PRODUCT_STATION) %> - </td>
    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::ESTIMATION_ADD) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::ESTIMATION_SHOW) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::ESTIMATION_EDIT) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::ESTIMATION_DELETE) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::ESTIMATION) %></td>

</tr>

<tr>
    <td> - </td>
    <td><%= edit_module(@checkboxes, InventoryManagementSystem::STANDARD_ESTIMATION) %>Standard Estimation </td>
    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::STANDARD_ESTIMATION_ADD) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::STANDARD_ESTIMATION_SHOW) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::STANDARD_ESTIMATION_EDIT) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::STANDARD_ESTIMATION_DELETE) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::ESTIMATION) %></td>

</tr>

<tr>
        <td></td>

        <td><%= edit_module(@checkboxes, InventoryManagementSystem::DRAWING) %> Drawing </td>

        <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::DRAWING_ADD) %></td>

        <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::DRAWING) %></td>

        <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::DRAWING_EDIT) %></td>

        <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::DRAWING_DELETE) %> </td>

        <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::DRAWING_PRINT) %></td>

</tr>
<tr>
    <td><%= edit_module(@checkboxes, InventoryManagementSystem::PRICE_CONTROL_ITEM) %> Price Control </td>
    <td><%#= edit_module(@checkboxes, InventoryManagementSystem::PRODUCT_STATION) %> - </td>
    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::PRICE_CONTROL_ITEM_ADD) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRICE_CONTROL_SHOW) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::PRICE_CONTROL_ITEM_EDIT) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRICE_CONTROL_DELETE) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRICE_CONTROL) %></td>

</tr>
<tr>
    <td><%= edit_module(@checkboxes, InventoryManagementSystem::HISTORY_FILE_DELETE) %> History Estimation Delete </td>
    <td><%#= edit_module(@checkboxes, InventoryManagementSystem::PRODUCT_STATION) %> - </td>
    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::HISTORY_ESTIMATION_DELETE_DELETE) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRICE_CONTROL_SHOW) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRICE_CONTROL_ITEM_EDIT) %></td>

    <td align="center"><%= edit_module(@checkboxes, InventoryManagementSystem::HISTORY_FILE_DELETE_DELETE) %></td>

    <td align="center"><%#= edit_module(@checkboxes, InventoryManagementSystem::PRICE_CONTROL) %></td>

</tr>