<tr>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", :disabled => true %> STE Menu Report</td>

    <td><%= check_box_tag "inventory_management_system[]", :disabled => true %> Exemption Summary Report</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> 121</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> 122</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> 123</td>

</tr>

<tr>
    <td></td>
    <td><%= check_box_tag "inventory_management_system[]", :disabled => true %> STE Menu Report</td>

    <td><%= check_box_tag "inventory_management_system[]", :disabled => true %> Exemption Summary Report</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> 121</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> 122</td>

    <td align="center"><%= check_box_tag "inventory_management_system[]", :disabled => true %> 123</td>

</tr>