<table class="table table-bordered">
	<% @estimation.each do |estimation| %>
		<tr><th><p class="text-center">Remarks</p></th><tr>
		<tr><th>Materials :</th></tr>
		<tr><th>Welding :<%= estimation.welding rescue'-' %></th></tr>
		<tr><th>Oxygen & Acetylene :<%= estimation.oxygen_acetylene rescue'-' %></th></tr>
		<tr><th>Painting : <%= estimation.painting rescue'-' %></th></tr>
		<tr><th>Sand Blasting : <%= estimation.sand_blasting rescue'-' %></th></tr>
		<tr><th>Transport :<%= estimation.transport rescue'-' %></th></tr>
		<tr><th>Crane : <%= estimation.crane rescue'-' %></th></tr>
		<tr><th>Shipment : <%= estimation.shipment rescue'-' %></th></tr>
		<tr><th>Labour : <%= estimation.labour rescue'-' %></th></tr>
		<tr><th>Installation : <%= estimation.installation rescue'-' %></th></tr>
		<tr><th>Dismantle : <%= estimation.dismantle rescue'-' %></th></tr>
		<tr><th>Machining : <%= estimation.machining rescue'-' %></th></tr>
		<tr><th>Insulation : <%= estimation.insulation rescue'-' %></th></tr>
		<tr><th>Civil Work : <%= estimation.civil_work rescue'-' %></th></tr>
		<tr><th>Electrik : <%= estimation.electrik rescue'-' %></th></tr>
		<tr><th>Pilling Work : <%= estimation.piling_work rescue'-' %></th></tr>
		<tr><th>Forming : <%= estimation.forming rescue'-' %></th></tr>
		<tr><th>Misc : <%= estimation.misc rescue'-' %></th></tr>
		<tr><th>JKKP : <%= estimation.jkkp rescue'-' %></th></tr>
	<% end %>
</table>