
  <%= form_tag pdf_station_report_reports_path ,:target=>"_blank" ,:method =>"get" do %>
    <table>
      <thead>
        <tr class="header_line">
          <th><%= check_box_tag 'checkall', :id =>"checkall" %></th>
          <th>No.</th>
          <th>Project Name</th>
          <th>Client Name</th>
        </tr>
      </thead>

      <tbody>
        <% @list_station_report.stations.each_with_index do |p , index| %>
          <tr>
            <td align="center"><%= check_box_tag "p_ids[]", p.id %></td>
            <td align="center"><%= index + 1 %></td>
            <td align="center"><%= p.name rescue'-'%></td>
            <td align="center"><%= p.client.name rescue'-' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>



