<head>
<meta name="pdfkit-orientation" content="Landscape"/>
<!-- <link rel="stylesheet" type="text/css" href="print.css" media="print"> -->
</head>


<% index = 0 %>
<% counter = 0 %>
<% if @estimation.present? %>
	<% @estimation.each do |estimation| %>
	<% if index == 0 %>
	  <div>
	<% else %>
	  <div style="page-break-before: always;"> 	
	<!-- <div class="page-break"> -->
	<% end %>

<table class="text-left" width="100%">
	<%# @estimation.each do |estimation| %>

	<tr>
		<th width="50%" align="left">Client: <%= estimation.project.client.name rescue'-'%></th>
		<th width="50%" align="left">Drawing No:</th>
	</tr>
	<tr>
		<th width="50%" align="left">Title: <%= estimation.title rescue'-' %></th>
		<th width="50%" align="left">Date: <%= estimation.date rescue'-'%></th>
	</tr>
	<tr>
		<th width="50%" align="left">Dimension: <%= estimation.dimension rescue'-' %></th>
		<th width="50%" align="left">Issued by:</th>
	</tr>
	<tr>
		<th width="50%" align="left"></th>
		<th width="50%" align="left">Weight: <%#= two_precision(weight.sum) %>Ton(s)</th>
	</tr>
	
</table>

<table class="table table-bordered">
	<thead>
	<%= render "estimation_table" %>	
	</thead>
	<tbody>
		<% @remark_index = 0 %>
	<% estimation.estimation_item.each_with_index do |item_list , index| %>
		<% @remark_index = index %>
		<% counter += 1 %>
		<% if counter < 21 %>
	<tr>
			<td><%= index + 1 %></td>
			<td><%= item_list.part_detail %></td>
			<td><%#= item_list.material.name %></td>
			<td><%= item_list.thk_dia %></td>
			<td><%= item_list.dimension_h %></td>
			<td><%= item_list.dimension_w %></td>
			<td><%= item_list.dimension_l %></td>
			<td><%= item_list.wt_ibs_ft %></td>
			<td><%= item_list.qty %></td>
			<td><%= item_list.uom %></td>
			<td>
	        </td>	
			<td><%#= item_list. %></td>
			<td><%#= item_list. %></td>	
			<td><%#= estimation_remarks[index] %>
				<%= my_helper(estimation)[index] %></td>
	</tr>
<!-- <div style="page-break-before: always;"> -->
	<!-- </tbody>	 -->
	<% else %>
<!-- </table> -->
<div style="page-break-before: always;">

<table class="text-left" width="100%">
	<%# @estimation.each do |estimation| %>

	<tr>
		<th width="50%" align="left">Client: <%= estimation.client.name rescue'-'%></th>
		<th width="50%" align="left">Drawing No:</th>
	</tr>
	<tr>
		<th width="50%" align="left">Title: <%= estimation.title rescue'-' %></th>
		<th width="50%" align="left">Date: <%= estimation.date rescue'-'%></th>
	</tr>
	<tr>
		<th width="50%" align="left">Dimension: <%= estimation.dimension rescue'-' %></th>
		<th width="50%" align="left">Issued by:</th>
	</tr>
	<tr>
		<th width="50%" align="left"></th>
		<th width="50%" align="left">Weight: <%#= two_precision(weight.sum) %>Ton(s)</th>
	</tr>
	
</table>


<table class="table table-bordered">
	<thead>
	<%= render "estimation_table" %>
	</thead>
		<!-- <tbody> -->
		
	<tr>
			<td><%= index + 1 %></td>
			<td><%= item_list.part_detail %></td>
			<td><%#= item_list.material.name %></td>
			<td><%= item_list.thk_dia %></td>
			<td><%= item_list.dimension_h %></td>
			<td><%= item_list.dimension_w %></td>
			<td><%= item_list.dimension_l %></td>
			<td><%= item_list.wt_ibs_ft %></td>
			<td><%= item_list.qty %></td>
			<td><%= item_list.uom %></td>
			<td>
	        </td>	
			<td><%#= item_list. %></td>
			<td><%#= item_list. %></td>	
			<td><%#= estimation_remarks[index] %>
				<%= my_helper(estimation)[index] %></td>

	</tr>			

<% counter = 1 %>


	<% end %> <!-- counter -->	
	<% end %> <!-- second each do -->

	<tr>
		<td colspan="9"></td>
		<td>Total:</td>
		<td></td>
		<td colspan="3"></td>
	</tr>	

</tbody>
</table>
</div> <!-- page break counter -->

<% end %>
</div>
<% else %>
no record found
<% end %>
