<head>
<meta name="pdfkit-orientation" content="Landscape"/>
</head>
<% @array = [] %>
<% array_price_total = [] %>
<% @index_count = [] %>
<%# index = 0 %>
<% counter = 0 %>
<% if @estimation.present? %>
	<% @estimation.each_with_index do |estimation, index| %>
	
		<% if index == 0 %>

		  <div></div>
		<% else %>
		  <div style="page-break-before: always;"> 	
		<% end %>

<table class="text-left" width="100%">
		<!-- estimation item top info -->
<%= render "estimation_item_top_info", :estimation => estimation %>
	
</table>
<br>
<table class="table table-bordered">
	<thead>
	<%= render "estimation_table" %>	
	</thead>
	<tbody>
		<%# @remark_index = 0 %>
	<% estimation.estimation_items.each_with_index do |item_list , index| %>
		
		<% counter += 1 %>
		<% if counter < 31 %>
		<%# @remark_index = index %>
		
	<tr>
			<td><%= index + 1 %></td>
			<td><%= item_list.part_detail %></td>
			<td>
				<% if item_list.material_id.present? %>
					<%= item_list.material.name %>
				<% else %>
					<%= item_list.fitting_material.name %>
				<% end %>
			</td>
			<!-- <td> -->
				<% if item_list.material_id.present? %>
					<td><%= item_list.thk_dia %></td>
					<td><%= item_list.dimension_h %></td>
					<td><%= item_list.dimension_w %></td>
					<td><%= item_list.dimension_l %></td>
				<% else %>
					<td colspan="4"><%= item_list.fitting_material.material_code %></td>
				<% end %>
			<!-- </td> -->
			<td>
					<% if item_list.material_id.present? %>
						<%= item_list.wt_ibs_ft rescue'-' %>
					<% else %>
					-
					<% end %>
			</td>
			<td><%= item_list.qty %></td>
			<td><%= item_list.uom %></td>
			<td>
				<%= render "estimation_item_weight", :item_list => item_list %>
				
			</td>
			<td><%= item_list.unit_price rescue'-' %></td>
			<td>
				<% if item_list.material_id.present? %>
            <%= two_precision(item_list.price_total) rescue'-' %></td>
            <% array_price_total << item_list.price_total rescue'-'%>
          <% else %>
            <%= two_precision(item_list.fitting_price_total) rescue'-' %>
            <% array_price_total << item_list.fitting_price_total rescue'-' %>
          <% end %>
			</td>
				<% if index == 0 %>
					<td rowspan="<%= 30 %>">
						<%#= my_helper(estimation)[index] %>
						<%= my_helper(estimation).html_safe %>
					</td>		
				<% end %>	
			
	</tr>
		
	<% else %>
		</table>
		<div style="page-break-before: always;"></div>
		<table class="text-left" width="100%">
			<!-- estimation item top info -->
			<%= render "estimation_item_top_info", :estimation => estimation %>
			
		</table>
		<br>
		<table border="1">
			<thead>
			<%= render "estimation_table" %>
			</thead>
				<!-- <tbody> -->
				
			<tr>
					<td><%= index + 1 %></td>
					<td><%= item_list.part_detail %></td>
					<td>
						<% if item_list.material_id.present? %>
							<%= item_list.material.name %>
						<% elsif item_list.fitting_material_id.present? %>
							<%= item_list.fitting_material.name %>
						<% else %>
						-
						<% end %></td>
						<% if item_list.material_id.present? %>
							<td><%= item_list.thk_dia %></td>
							<td><%= item_list.dimension_h %></td>
							<td><%= item_list.dimension_w %></td>
							<td><%= item_list.dimension_l %></td>
						<% else %>
							<td colspan="4"><%= item_list.fitting_material.material_code %></td>
						<% end %>
					<td><%= item_list.wt_ibs_ft %></td>
					<td><%= item_list.qty %></td>
					<td><%= item_list.uom %></td>
					<td>
							<%= render "estimation_item_weight", :item_list => item_list %>
					</td>	
					<td><%= item_list.unit_price %></td>
					<td><%#= two_precision(estimation_item.price_total) rescue'-' %>
 					<% if item_list.material_id.present? %>
            <%= two_precision(item_list.price_total) rescue'-' %></td>
            <% array_price_total << item_list.price_total rescue'-'%>
          <% else %>
            <%= two_precision(item_list.fitting_price_total) rescue'-' %>
            <% array_price_total << item_list.fitting_price_total rescue'-' %>
          <% end %>
          </td>
					<td rowspan="<%= estimation.estimation_item.count - 29  %>">
					<%#= estimation_remarks[index] %>
						<%#= my_helper(estimation)[index] %>
					</td>

			</tr>			

				<% counter = 1 %>

				<% end %> <!-- counter -->	
			<% end %> <!-- second each do -->

			<tr>
				<td colspan="9"></td>
				<td>Total:</td>
				<td><%= four_precision(@array.sum) %></td>
				<td></td>
				<td id="estimation_item_total_weight"><%= four_precision(array_price_total.sum) %></td>
			</tr>	

		</tbody>
		</table>
<!-- </div> page break counter -->
	<% end %>
<!-- </div> -->

<% else %>
no record found
<% end %>


<style>

 table{
    width:100%;
  }
  
  body {
    width:100%;
    background-color: white;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    line-height: 18px; 
    
  }

  p, div { margin: 0; }

  p, ol, ul, td {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px; }

    table.black-line-table {
      border-width: 1px;
      <%#*border-spacing: 0px;%>
      border-style: none;
      border-color: black;
      border-collapse: collapse;
      background-color: transparent; }

  table.black-line-table thead th {
  		border-style:solid;
		border-width:3px;
        padding: 1px;
        border-style: solid;
        border-color: black;
        background-color: transparent; }

  table.black-line-table tbody td {
  		border-style:solid;
        border-width: 0px;
        padding: 1px;
        border-style: solid;
        border-color: black;

        }
  tbody tr {
    border-top:2pt solid white;
 }

</style>
