<% counter = 0 %>
<% @estimation.each do |estimation| %>
<%#= render :text => @estimation.to_json %>

<table class="table table-bordered">
	<thead>
	<tr>
		<th rowspan="2"><p class="text-center">No</p></th>
		<th rowspan="2"><p class="text-center">Part/MatCode</p></th>
		<th rowspan="2"><p class="text-center">Material</p></th>
		<th colspan="4"><p class="text-center">Dimension(mm)</p></th>
		<th rowspan="2"><p class="text-center">WT<br>lbs/Ft²</p></th>
		<th rowspan="2"><p class="text-center">Qty</p></th>
		<th rowspan="2"><p class="text-center">UOM</p></th>
		<th rowspan="2"><p class="text-center">Weight<br>lb/kg</p></th>
		<th rowspan="2"><p class="text-center">Unit<br>Price</p></th>
		<th rowspan="2"><p class="text-center">Total</p></th>
		<th rowspan="2"><p class="text-center">Remarks</p></th>
	</tr>
	<tr>
		<th><p class="text-center"> Thk/Dia. </p></th>
		<th><p class="text-center"> H </p></th>
		<th><p class="text-center"> W </p></th>
		<th><p class="text-center"> L </p></th>
	</tr>
</thead>
<tbody>
	<% estimation.estimation_item.each_with_index do |item_list , index| %>
		<% counter += 1 %>
		<% if counter <= 10 %>
	<tr>
			<td><%= index + 1 %></td>
			<td><%= item_list.part_detail %></td>
			<td><%#= item_list.material.name %></td>
			<td><%= item_list.thk_dia %></td>
			<td><%= item_list.dimension_h %></td>
			<td><%= item_list.dimension_w %></td>
			<td><%= item_list.dimension_l %></td>
			<td><%= item_list.wt_ibs_ft %></td>
			<td><%= item_list.qty %></td>
			<td><%= item_list.uom %></td>
			<td><% if item_list.material && item_list.material.category_id == 1 %>
	              <%= four_precision item_list.fomular_1 %>

	            <% elsif item_list.material && item_list.material.category_id == 2 %>
	              <%= four_precision item_list.fomular_2 %>

	            <% elsif item_list.material && item_list.material.category_id == 3 %>
	              <%= four_precision item_list.fomular_3 %>

	            <% elsif item_list.material && item_list.material.category_id == 4 %>
	              <%= four_precision item_list.fomular_4 %>
	            <% else %>
	              &nbsp;
	            <% end %>
	        </td>	
			<td><%#= item_list. %></td>
			<td><%#= item_list. %></td>	
			<td><%#= estimation_remarks[index] %></td>
			<div style="page-break-before: always;"></div>
	</tr>
	
	<% else %>
	
		<tr>
			<td><%= index + 1 %></td>
			<td><%= item_list.part_detail %></td>
			<td><%#= item_list.material.name %></td>
			<td><%#= item_list.thk_dia %></td>
			<td><%#= item_list.dimension_h %></td>
			<td><%#= item_list.dimension_w %></td>
			<td><%#= item_list.dimension_l %></td>
			<td><%#= item_list.wt_ibs_ft %></td>
			<td><%#= item_list.qty %></td>
			<td><%#= item_list.uom %></td>
			<td><% if item_list.material && item_list.material.category_id == 1 %>
	              <%= four_precision item_list.fomular_1 %>

	            <% elsif item_list.material && item_list.material.category_id == 2 %>
	              <%= four_precision item_list.fomular_2 %>

	            <% elsif item_list.material && item_list.material.category_id == 3 %>
	              <%= four_precision item_list.fomular_3 %>

	            <% elsif item_list.material && item_list.material.category_id == 4 %>
	              <%= four_precision item_list.fomular_4 %>
	            <% else %>
	              &nbsp;
	            <% end %>
	        </td>	
			<td><%#= item_list. %></td>
			<td><%#= item_list. %></td>	
			<td><%#= estimation_remarks[index] %></td>
	</tr>
	

	<% end %>
	</tbody>
	
	<% counter = 1 %>
	<% end %>
</table>

<% end %>
