<div align="center" >
<h2 align="center" style="border: 5px solid black; width: 800px; padding: 10px;" , class="hero-unit" ><%= link_to "UNI - Vessel Engineering SDN. BHD", root_url %>
  
</h2>
</div>

<div class="navbar ">
   <div class="navbar-inner">
    <div class="container">

      <ul class="nav nav-pills">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Home (<strong><%= current_user.username %> <%#= current_user.current_sign_in_at %></strong>)
          <b class="caret"></b>
          </a>
            <ul class="dropdown-menu">
              <li><a href="#"></a><%= link_to "Main", root_url %></li>
              <li><a href="#"></a><%= link_to "Edit Profile",  edit_user_registration_path %></li>
              <li><a href="#"></a><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            </ul>
        </li>
      </ul>
      
    <ul class="nav nav-pills">
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Catogery One
            <b class="caret"></b>
            </a>
        <ul class="dropdown-menu">
            <li><%= link_to "Project" , projects_path %></li>
            <li><%= link_to "Station" , stations_path %></li>
            <li><%= link_to "Estimation" , estimations_path %></li>
            <li><%= link_to "Material" , materials_path %></li>
            <li><%= link_to "Client" , clients_path %></li>

        </ul>
      
    </ul>



    <ul class="nav nav-pills">
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Section Two
            <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
            <li class="dropdown-submenu">
            <%# if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_MENU) %>
            <a tabindex="-1" href="#">-</a>
            <ul class="dropdown-menu">
              
                <%# if roles.include?(InventoryManagementSystem::SALES_TAX_EXEMPTION_TRANSACTION_VALID) %>
                <li class="text_gray" style="width:210px;">Section selection</li><%#= link_to "Transactions - Valid", sales_tax_exemptions_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %>
                <%# else %>
                  <!-- <li class="text_gray">Transactions - Valid</li> -->
                <%# end %>
                <li class="text_gray" style="width:210px;">Section selection</li>
            </li>
          <%# end %>
            </ul>
            <!-- end of submenu -->
        </ul>
      </li>
    </ul>
    <!-- end of menu -->

     <ul class="nav nav-pills">
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Price Control
            <b class="caret"></b>
            </a>
       <ul class="dropdown-menu">
            <li><%= link_to "Price Control" , price_controls_path %></li>
        </ul>
      </li>
    </ul>

      <ul class="nav nav-pills">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Section Four
              <b class="caret"></b>
              </a>
          <ul class="dropdown-menu">
              <%# if roles.include?(InventoryManagementSystem::PR_MENU) %>
                <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Section Four - One</a>
                 <ul class="dropdown-menu">
                  <%# if roles.include?(InventoryManagementSystem::INVENTORY_TRANSACTION) %>
                   <li class="text_gray" style="width:210px;">Section selection</li>
                   <li class="text_gray" style="width:210px;">Section selection</li><%#= link_to "Inventory Transactions & Histories", inventory_histories_path, :class => "show_without_refresh_page_1600x900", "data-fancybox-type" => "iframe" %>
                  <%# else %>
                    <!-- <li class="text_gray" style="width:210px;">Inventory Transactions & Histories</li> -->
                  <%# end %>
                
                </li>
                <%# end %>
                </ul>
            </ul>
          </li>
        </ul>


      <ul class="nav nav-pills">
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Report
            <b class="caret"></b>
            </a>
        <ul class="dropdown-menu">
            <%# if roles.include?(InventoryManagementSystem::PR_MENU) %>
              <li class="dropdown-submenu">
              <a tabindex="-1" href="#">Estimation</a>
               <ul class="dropdown-menu">
                <%# if roles.include?(InventoryManagementSystem::INVENTORY_TRANSACTION) %>
                  <li class="text_gray" style="width:210px;"><%= link_to "Listing Estimation Report" , list_estimation_report_reports_path %></li>
                  <!-- <li class="text_gray" style="width:210px;">Section selection</li> -->
                <%# else %>
                  <!-- <li class="text_gray" style="width:210px;">Inventory Transactions & Histories</li> -->
                <%# end %>
                
                </li>
                <%# end %>
                </ul>
            </ul>
          </li>
        </ul>
            <!-- end of sub-menu -->
            
        </ul>
      </li>
    </ul>

    <!-- end of menu -->

   </div>
  </div>
</div>




