<!DOCTYPE html>

<html lang="en">
<head>
  <title>IcodeUni</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "autocomplete-rails.js" %>
  <%= csrf_meta_tags %>
  <%= yield(:jquery_script) %>

  <script type="text/javascript">
    
    var ready = function()
    {
      Material.init();
      //EstimationItem.init();
    }

    $(document).ready(function() {  
      ready();

    });
    $(document).on("page:load", function() {  
      ready();

    });


  </script>
  
</head>


<body id="second-layout">

  <% if flash[:alert] %>
    <div class="alert alert-success" data-dismiss="alert">
      <a href="#" class="alert-link">
       <%= flash.now[:alert] %>
       <button class="close" >&times;</button>
      </a>
    </div>
  <% end %>

  <% if notice.present? %>
    <div class="alert alert-success" data-dismiss="alert">
      <a href="#" class="alert-link">
        <%= notice %>
         <button class="close" >&times;</button>
       </a>
    </div>
  <% end %>

      <%# unless controller_name => "estimation_item" %>
    <% if user_signed_in? %>    
      <%= render "/layouts/top_menu_layout" %>
    <% end %> 
      <%# end %>

    <div class="container">  <!-- this link is fix layout --> 
      <%= yield %>
    </div>

 
</body>
</html>
