<!DOCTYPE html>
<html>
<head>
  <title>IcodeUni</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%#= link_to "Home", home_index_path %>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <% if user_signed_in? %>
    <a class="close" data-dismiss="alert" href="#"><%= notice %></a>

    <%= render "/layouts/top_menu_layout" %>
    <% end %>
 
  <div class="container">
    <%= yield %>

    <% if action_name == "show" %>
      <p> I am show</p>
    <% elsif action_name == "edit" %>
      <p> I am edit</p>
    <% elsif action_name == "new" %>
      <p> I am new</p>
      <% elsif action_name == "index" %>
      <p> I am index</p>
      <% end %>
  </div>

<!-- 

  
    <%# if user_signed_in? %>
    <div id="main-footer"></div>
    <%# end %> -->

</body>
</html>
